@import 'variables.sass'

body
    font-family: 'Roboto', sans-serif
    overflow: hidden

.toolbar
    position: relative
    height: 50px
    display: flex
    justify-content: start
    align-items: center

.textElementForHover
    &:hover
        display: inline-block
        background: red

.wrapper
    display: flex 
    flex-direction: row
    justify-content: space-between
    position: relative
    max-height: 90vh
    width: 100%

.audioContainer
    overflow-y: scroll
    width: 35%
    padding: 15px
    position: relative
    border: solid 1px lightgray
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
.textWrapper
    width: 60%
    max-height: 90vh
    display: flex
    flex-direction: column
    border: solid 1px lightgray
    border-collapse: collapse
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px

.textContainer
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    &.player
    .langWindow
        height: 50%
        width: calc( 100% - 10px ) 
        padding: 5px
        border-top: solid 1px lightgray
.text-item
    &:hover
        background: $blue

.btn
    width: 100px
    border: solid 1px lightgray
    border-radius: 3px
    margin: 5px
    padding: 3px
    text-align: center
    cursor: pointer
    text-decoration: none
    color: black
    &.active
        background: red
        color: white
ul
    padding: 0

li
    list-style-type: none

.canvas
    &-container
        position: relative
        .glass    
            z-index: 500
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: rgba( 255, 255, 255, 0.15 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 4.5px )
            -webkit-backdrop-filter: blur( 4.5px )
            border-radius: 10px
            border: 1px solid rgba( 255, 255, 255, 0.18 )

canvas 
    border-top: solid 1px lightgray
    padding-top: 7px
    position: relative
       
.unclicable
    pointer-events: none
    background: lightgray
    color: white

.audio
    &-container
        position: relative
        width: 250px
        border: solid 1px lightgray
        padding: 3px
        border-radius: 5px
        display: flex
        flex-direction: column
        margin: 5px
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
        & .order-number
            position: absolute
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            border-top-right-radius: 25px
            border-bottom-right-radius: 25px
            right: -25px
            top: 15px
            background: $blue
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
            height: 50px
            color: white
            width: 25px
            cursor: pointer
            transition: all 0.3s
            &:hover
                width: 30px
                right: -30px
                
audio
    border-top: solid 1px lightgray
    max-width: 100%

.input
    &-name
        display: flex
        direction: row
        justify-content: space-between
input
    border: none

.material-icons
    cursor: pointer

textarea
    resize: none   
    width: 100%
    border: none
    font-family: 'Roboto', sans-serif 
